Servicios.Windows/Service References/InventarioServiceReference/WebServiceInventario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumaNumeros">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Numero1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="numero2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumaNumerosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SumaNumerosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerInventario">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerInventarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerInventarioResult" type="tns:ArrayOfInventario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInventario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Inventario" nillable="true" type="tns:Inventario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Inventario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NumeroInventario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Color" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Precio" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertarInventario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="color" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="precio" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarInventarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarInventarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SumaNumerosSoapIn">
    <wsdl:part name="parameters" element="tns:SumaNumeros" />
  </wsdl:message>
  <wsdl:message name="SumaNumerosSoapOut">
    <wsdl:part name="parameters" element="tns:SumaNumerosResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerInventarioSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerInventario" />
  </wsdl:message>
  <wsdl:message name="ObtenerInventarioSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerInventarioResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarInventarioSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarInventario" />
  </wsdl:message>
  <wsdl:message name="InsertarInventarioSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarInventarioResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceInventarioSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SumaNumeros">
      <wsdl:input message="tns:SumaNumerosSoapIn" />
      <wsdl:output message="tns:SumaNumerosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerInventario">
      <wsdl:input message="tns:ObtenerInventarioSoapIn" />
      <wsdl:output message="tns:ObtenerInventarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarInventario">
      <wsdl:input message="tns:InsertarInventarioSoapIn" />
      <wsdl:output message="tns:InsertarInventarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceInventarioSoap" type="tns:WebServiceInventarioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumaNumeros">
      <soap:operation soapAction="http://tempuri.org/SumaNumeros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInventario">
      <soap:operation soapAction="http://tempuri.org/ObtenerInventario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarInventario">
      <soap:operation soapAction="http://tempuri.org/InsertarInventario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceInventarioSoap12" type="tns:WebServiceInventarioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumaNumeros">
      <soap12:operation soapAction="http://tempuri.org/SumaNumeros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInventario">
      <soap12:operation soapAction="http://tempuri.org/ObtenerInventario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarInventario">
      <soap12:operation soapAction="http://tempuri.org/InsertarInventario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceInventario">
    <wsdl:port name="WebServiceInventarioSoap" binding="tns:WebServiceInventarioSoap">
      <soap:address location="http://localhost:21137/WebServiceInventario.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceInventarioSoap12" binding="tns:WebServiceInventarioSoap12">
      <soap12:address location="http://localhost:21137/WebServiceInventario.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>